/* Eliyahu Alhazov 318874831 */

body {
    background-color: rgb(140, 188, 245);
    /* Background color of your choice */
    text-align: center;
    /* Horizontally centered */
}

header {
    margin-bottom: 20px;
    /* Bottom margin for emphasis */
}

form {
    display: inline-block;
    /* To center the form in the middle of the page */
    text-align: right;
    /* Horizontally aligned to the right */
}

.form-group {
    margin-bottom: 10px;
    /* Bottom margin between fields */
    border-bottom: 2px solid transparent;
    /* Transparent bottom border by default */
    transition: border-color 0.3s;
    /* Animation for border color change */
}

.form-group:hover {
    border-color: orange;
    /* Orange bottom border when hovering over the field */
}

button {
    border: 2px solid orange;
    /* Orange border */
    background-color: white;
    /* White background */
    padding: 10px 20px;
    /* Inner spacing */
    cursor: pointer;
    /* Cursor pointer */
}

button:hover {
    border-color: orange;
    /* Orange border when hovering over the button */
}

footer {
    position: fixed;
    /* Fixed position */
    bottom: 0;
    /* Positioned at the bottom of the page */
    width: 100%;
    /* Full width */
    background-color: rgb(80, 95, 180);
    /* Background color of your choice */
    text-align: center;
    /* Horizontally centered */
    padding: 10px 0;
    /* Inner padding at the bottom of the page */
}

@media only screen and (max-width: 600px) {
    /* Style for screens with width less than 600 pixels */
    body {
        font-size: 14px;
    }
    /* New layout for phones */
    .form-group {
        width: 80%;
        margin: 0 auto;
    }
}